<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_product.css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <%- include("./header.ejs") %>
    </div>
    <div class="content">
        <div class="add_product">
            <h1>ADD NEW PRODUCT:</h1>
            <div>
                <input type="text" value="" placeholder="Title">
                <input type="text" value="" placeholder="Price">
                <input type="text" value="" placeholder="Description">
                <input type="file" accept=".jpg, .png" placeholder="image" multiple/>
                <input type="text" value="" placeholder="Rating">
            </div>
            <button type="submit">Submit</button>
        </div>
    </div>
    <div class="foot">
        <%- include("./footer.ejs") %>
    </div>
</body>
</html>